* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testimonial-grid-container {
    padding: 5% 3%;
}

#testimonial-1 {
    background-color: hsl(263, 55%, 52%);
    color: hsl(182, 100%, 100%);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 85%;
}

#testimonial-2 {
    background-color: hsl(217, 19%, 35%);
    color: hsl(182, 100%, 100%);
}

#testimonial-3, #testimonial-5 {
    background-color: hsl(182, 100%, 100%);
    color: hsl(217, 19%, 35%);
}

#testimonial-4 {
    background-color: hsl(219, 29%, 14%);
    color: hsl(182, 100%, 100%);
}

.grid-item {
    margin-bottom: 1.8rem;
    padding: 1.8rem;
    border-radius: 10px;
    box-shadow: 5px 2px 17px -4px rgba(0,0,0,0.3);
}

.grid-item p {
    opacity: 70%;
    line-height: 1.2rem;
}

.grid-item #title {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    opacity: 100%;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

#header #name {
    opacity: 100%;
    font-size: 1rem;
}

#header img {
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
    margin-right: 1.6rem;
}

#testimonial-1 #header img {
    border: 3px solid hsl(265, 68%, 68%);
}

#testimonial-4 #header img {
    border: 3px solid hsl(262, 49%, 50%);
}

@media (min-width: 576px) {
    #testimonial-grid-container, #main-left, #top, #bottom {
        display: flex;
    }

    #testimonial-grid-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #testimonial-5 {
        flex-basis: 25%;
    }

    #main-left {
        flex-direction: column;
        flex-basis: 75%;
    }

    #main-left .grid-item {
        margin-right: 2.1rem;
    }

    #top, #bottom {
        flex-basis: 50%;
    }

    #testimonial-1, #testimonial-4 {
        flex-basis: 68%;
    }

    #testimonial-2, #testimonial-3 {
        flex-basis: 32%;
    }
}